.monaco-editor .cursors-layer > div[style*="width"] {
	height: 20px !important;
	transform: translateY(5px) !important;
	line-height: 20px !important;
	display: flex !important;
	align-items: center !important;
}

.monaco-workbench .titlebar-left .window-appicon {
	display: none !important;
	visibility: hidden !important;
}
