.monaco-workbench .titlebar-left .window-appicon {
	display: none !important;
	visibility: hidden !important;
}

.mtk1,
.h3 .title,
p,
.label-name,
.scm-input,
.window-title,
.titlebar-left,
.monaco-workbench .part.statusbar,
.composite.title h2,
.monaco-list-rows,
.monaco-list-row,
.quick-input-widget,
.quick-input-widget .monaco-inputbox,
.quick-input-filter .monaco-inputbox,
.monaco-action-bar .action-item .action-label,
.monaco-workbench .view-container .monaco-inputbox,
.monaco-workbench .view-container .monaco-inputbox input {
	font-family: "JetBrains Mono" !important;
}

.monaco-workbench .codicon,
.monaco-action-bar .action-label.codicon,
.monaco-workbench .titlebar-actions .action-label.codicon {
	font-family: codicon !important;
}

.window-title {
	font-weight: 700 !important;
	font-size: 14px !important;
	color: #bebebe !important;
	transition: color 0.3s ease;
}

body.inactive .window-title {
	color: #888 !important;
}

.composite.title h2 {
	font-weight: bold !important;
	font-size: 12px !important;
	margin-left: -13px !important;
}

.quick-input-widget {
	transform: translateY(-50%) !important;
	top: 50% !important;
	border-radius: 6px !important;
	padding: 8px !important;
	border: none !important;
	box-shadow: none !important;
}

.quick-input-list .list_id_6,
.monaco-list-rows {
	font-size: 15px !important;
}

.quick-input-widget .monaco-inputbox,
.quick-input-filter .monaco-inputbox {
	font-size: 14px !important;
	padding: 10px !important;
	border-radius: 7px !important;
	border: none !important;
	margin-bottom: 10px !important;
	box-shadow: none !important;
}

.quick-input-filter .monaco-inputbox.synthetic-focus,
.quick-input-filter .monaco-inputbox input:focus,
.quick-input-widget .monaco-inputbox.synthetic-focus,
.quick-input-widget,
.quick-input-widget .monaco-inputbox,
.quick-input-widget .monaco-list,
.quick-input-widget .quick-open-part {
	border: none !important;
	box-shadow: none !important;
	outline: none !important;
}

.monaco-workbench .codicon[class*="menu"],
.monaco-workbench .titlebar-icon,
.monaco-workbench .editor-group-watermark,
.statusbar-item.right.__CUSTOM_CSS_JS_INDICATOR_CLS,
#vscodevim\.vim\.showcmd[aria-label="<ExtensionDisable>"] {
	display: none !important;
	visibility: hidden !important;
}

.monaco-editor .cursors-layer > div[style*="width"] {
	height: 20px !important;
	transform: translateY(5px) !important;
	line-height: 20px !important;
	display: flex !important;
	align-items: center !important;
}
