/* Code canvas top shadow */
.monaco-editor .scroll-decoration {
    /* box-shadow: 0px 0px 20px rgba(0, 0, 0, .75) !important; */
    top: -6px !important;
}

/* Match Text */
.currentFindMatchInline {
    background: #000 !important;
}

/* Side bar */
.part.sidebar {
    /* box-shadow: 0px 0px 50px rgba(0, 0, 0, .25); */
}

/* .part.sidebar.right > div > div > div:nth-child(1) {
    display: none !important;
} */

/* File Explorer Selected Item */
/* .monaco-list.list_id_1 .monaco-list-row.selected {
    background-color: #4f5971 !important;
    opacity: 1 !important;
    border-top: 1px #727b90 solid;
    border-bottom: 1px #727b90 solid;
} */

/* List item label name */
.monaco-list.list_id_1 .monaco-list-row.selected .label-name {
    color: #fff !important;
    opacity: 1 !important;
}

/* File explorer action buttons */
.monaco-workbench .part.sidebar .title-actions .actions-container {
    display: none;
}

/* File Explorer Item Label */
.monaco-tree .monaco-tree-row .label-name,
.monaco-list .monaco-list-row
.monaco-icon-label .label-name {
    font-family: 'JetBrains Mono', monospace !important;
    font-size: 14px !important;
    font-weight: 400 !important;
    color: #FFF !important;
}

.explorer-item-edited {
  font-family: JetBrains Mono !important;
  font-size: 14px !important;
}

/* .monaco-workbench .codicon[class*=codicon-] {
    opacity: 0 !important;
} */

/* .explorer-folders-view .monaco-list-row {
    padding-left: 20px !important;
} */

/* .monaco-list.list_id_1 .monaco-tl-indent > .indent-guide.active {
    border: none !important;
}

.monaco-list.list_id_1 .monaco-tl-indent > .indent-guide.active:hover {
    border: none !important;
} */

/* Sidebar top shadow */
.monaco-scrollable-element>.shadow.top {
    /* box-shadow: 0px 0px 10px rgba(0,0,0,.75) !important; */
    top: -3px !important;
}

/* Sidebar title */
.composite.title {
    display: flex !important;
    flex-direction: row !important;
    align-items: center !important;
    justify-items: center !important;
}
.composite.title h2 {
    font-weight: bold !important;
    font-size: 12px !important;
    text-transform: uppercase;
    color: #bc9abc !important;
}

/* .composite.title h2::before {
    display: inline-block;
    margin-right: 6px;
    font-size: 1.1rem;
    content: '';
} */

/* Scroll Bar */
.slider {
    /* position: absolute !important;
    right: 1px !important;
    background: #bc9abc !important;
    left: auto !important; */
    width: 5px !important;
}

/* Tooltip box style */
.monaco-editor-hover,
.monaco-hover {
    /* box-shadow: 0px 8px 32px rgba(0,0,0,.45) !important; */
    /* padding: 10px !important; */
    background-image: linear-gradient(#3c3c50 0%, #2a2b38 100%) !important;
    backdrop-filter: blur(3px) !important;
    border-radius: 16px !important;
    border: none !important;
    outline: 0px !important;
}

.monaco-resizable-hover {
    border: none !important;
}

/* .monaco-hover > div, .monaco-editor-hover > div {
    padding: 10px !important;
    width: 600px !important;
} */

/* Project title's style at the top. */
.monaco-workbench .part.titlebar>.titlebar-container>.titlebar-center>.window-title>.command-center .action-item.command-center-center {
    border: none !important;
    font-family: 'JetBrains Mono' !important;
    background: transparent !important;
}

/* Project Title */
.titlebar-left {
    /* justify-content: flex-end !important;
    flex-grow: 0 !important;
    width: 75px !important; */
    font-family: 'JetBrains Mono' !important;
}

/* Search Label */
.search-label {
    font-family: 'JetBrains Mono' !important;
    font-size: 14px !important;
    color: #fff;
    display: block;
}

/* Search icon */
.search-icon {
    display: none !important;
}

.codicon-search::before {
    display: none !important;
}

.codicon-arrow-right, .codicon-arrow-left {
    display: none !important;
}

.titlebar-right > * {
    display: none !important;
}

.command-center-center {
    width: auto !important;
}

/* Command Palette */
.quick-input-widget {
    transform: translateY(-50%) !important;
    top: 50% !important;
    /* box-shadow: 0px 8px 32px rgba(0, 0, 0, .35) !important; */
    /* border: 4px solid rgba(24, 135, 129, .35) !important; */
    padding: 10px 10px 18px 10px !important;
    background-image: linear-gradient(#3c3c50 0%, #2a2b38 100%) !important;
    /* background: #3c3c50 !important; */
    backdrop-filter: blur(3px) !important;
    border-radius: 20px !important;
    /* width: 50% !important; */
}

.quick-input-list, .quick-input-list .list_id_6 {
    min-height: 400px !important;
}

/* .quick-input-widget::backdrop {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .15);
    top: 0;
    left: 0;
    backdrop-filter: blur(8px);
} */

/* Remove background for lists */
.monaco-list-rows {
    background: transparent !important;
}

/* Command palette text input */
.quick-input-filter .monaco-inputbox {
    border-radius: 12px !important;
    padding: 16px !important;
    border: none !important;
    /* background-color: rgba(34, 34, 34, .40) !important; */
    font-family: "JetBrains Mono" !important;
    font-size: 16px !important;
    margin-bottom: 16px !important;
}

#command-blur {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .15);
    top: 0;
    left: 0;
    backdrop-filter: blur(8px);
}

/* Actions after command palette text input */
.quick-input-inline-action-bar .actions-container .action-item{
	margin-bottom: 16px !important; /* Same margin-bottom as .monaco-inputbox */
}
.quick-input-header{
	align-items: center;
}

/* Command palette's input box placeholder. */
.monaco-inputbox input::placeholder {
    color: rgba(255, 255, 255, .3) !important;
}

/* Container that holds the VS Code home icon. */
.editor-group-watermark {
    max-width: none !important;
}


.monaco-editor .cursors-layer > div[style*="width"] {
	height: 20px !important;
	transform: translateY(5px) !important;
	line-height: 20px !important;
	display: flex !important;
	align-items: center !important;
}

.monaco-workbench .codicon[class*="menu"],
.monaco-workbench .titlebar-icon,
.monaco-workbench .editor-group-watermark,
.statusbar-item.right.__CUSTOM_CSS_JS_INDICATOR_CLS,
#vscodevim\.vim\.showcmd[aria-label="<ExtensionDisable>"] {
	display: none !important;
	visibility: hidden !important;
}

.monaco-workbench .titlebar-left .window-appicon {
	display: none !important;
	visibility: hidden !important;
}
